<!--<!DOCTYPE html>-->
<!--<html>-->

<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">-->
<!--    <title>Untitled</title>-->
<!--    <link rel="stylesheet" href="../../../static/Footer/bootstrap/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="../../../static/Footer/fonts/ionicons.min.css">-->
<!--    <link rel="stylesheet" href="../../../static/Footer/css/Article-List.css">-->
<!--    <link rel="stylesheet" href="../../../static/Footer/css/Footer-Dark.css">-->
<!--    <link rel="stylesheet" href="../../../static/Footer/css/styles.css">-->
<!--</head>-->

<!--<body>-->
<div th:fragment="footer">
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Сервіси</h3>
                        <ul>
                            <li><a th:href="@{/footer/api}">API</a></li>
                            <li><a th:href="@{/footer/pharmacy}">Фармація</a></li>
                            <li><a th:href="@{/footer/emergency}">Невідкладна допомога</a></li>
                            <li><a th:href="@{/footer/nursing}">Сестринська справа</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Про нас</h3>
                        <ul>
                            <li><a th:href="@{/Home/home-page}">Управління пацієнтами</a></li>
                            <li><a th:href="@{/footer/team}">Наша команда</a></li>
                            <li><a th:href="@{/footer/career}">Кар'єра</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Управління пацієнтами</h3>
                        <p>На сьогоднішній день лікарні здебільшого укомплектовані професійними лікарями,
                            хірургами, медсестрами та іншими медичними працівниками. У минулому цю роботу
                            зазвичай виконували члени релігійних орденів або волонтери.</p>
                    </div>
                    <div class="col item social">
                        <a href="https://www.facebook.com/">
                            <i class="icon ion-social-facebook"></i>
                        </a>
                        <a href="https://www.twitter.com/">
                            <i class="icon ion-social-twitter"></i>
                        </a>
                        <a href="https://www.snapchat.com/">
                            <i class="icon ion-social-snapchat"></i>
                        </a>
                        <a href="https://www.instagram.com/">
                            <i class="icon ion-social-instagram"></i>
                        </a>
                    </div>
                </div>
                <p class="copyright">Медична клініка Ореста Кулика © 2024</p>
            </div>
        </footer>
    </div>
</div>
<script src="/Footer/js/jquery.min.js"></script>
<script src="/Footer/bootstrap/js/bootstrap.min.js"></script>
<!--</body>-->

<!--</html>-->